future==0.17.1
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.2
parasail
scikit-learn>=0.23
scipy==1.2.1
seaborn==0.9.0
statsmodels==0.10.1
tables
parmap
numba
escapejson
fishersapi==0.2
pwseqdist==0.1
hierdiff==0.2
tcrsampler==0.1.7
zipdist==0.1.5
