zipdist==0.1.3
future==0.17.1
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.2
parasail
scikit-learn>=0.23
scipy==1.2.1
seaborn==0.9.0
statsmodels==0.10.1
tables
parmap
fishersapi
git+https://github.com/agartland/pwseqdist.git
hierdiff
numba
tcrsampler
Jinja2
palmotif