pytest==5.4.1
pandas==1.0.0
future>=0.17.1
matplotlib==3.0.3
numpy==1.18.1
parasail==1.2
scikit-learn>=0.20.3
scipy==1.4.1
seaborn>=0.9.0
statsmodels>=0.10.1
tables
parmap
numba
git+https://github.com/agartland/fishersapi.git#egg=fishersapi
git+https://github.com/agartland/pwseqdist.git#egg=pwseqdist

